#LoginContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /*background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);*/
    justify-content: center;
}

#LoginContent content {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    /*background-image: url(http://creativeit.io/material-dashboard-lite/images/Dark_background_1920x1080.png);*/
}

#LoginContent form i {
    max-width: 5.5em;
}

#LoginContent form h2 {
    font-family: Roboto;
    margin-top: 0;
    font-size: 28px;
    color: #dedede;
    font-weight: 300;
}

.inputContainer {
    background: #2d303c;
    width: 30em;
    margin-left: 0em;
    height: 3em;
    display: flex;
    align-items: center;
    margin-top: 5em;
    border-top: 2px solid #393d52;
    border-bottom: 2px solid #393d52;
    position: relative
}

.inputContainer img {
    position: absolute;
    left: 1.1em;
    opacity: .5;
    transition: .3s ease-out;
}

.inputContainer input {
    background: none;
    border: none;
    margin-left: 4em;
    color: #afb1be;
    height: 100%;
    width: 27em;
}

.second {
    margin-top: 1em;
}

input:focus {
    outline: none;
}

.inputContainer:focus .icon {
    opacity: 1;
}

body {
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Gudea', sans-serif;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EA5C54 ', endColorstr='#bb6dec',GradientType=1 );
}

body ::-webkit-input-placeholder {
    color: #4E546D;
}

body .authent {
    background: linear-gradient(45deg, #74bce6 0%, #2590cf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bce6', endColorstr='#2590cf',GradientType=1 );
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    width: 10em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 70px;
    top: 200px;
    bottom: 0;
    height: 15em;
    opacity: 0;
    box-shadow: -10px 0px 10px 1px #6b6b6b;
    border-radius: 20px;
    border-top: 2px solid #fca959 ;
}

.logo {
    position: absolute;
    top: 3%;
    max-width: 8%;
    left: 4%
}

.authentLogo {
    max-width: 49%;
    margin-right: 3em;
    margin-left: 2.5em;
    margin-top: 1em;
    margin-bottom: 2em;
}

body .authent p {
    text-align: center;
    color: white;
}

body .feedback {
    display: none;
    color: #d5d8e2;
}

body .feedback p {
    font-size: 22px;
}

body p {
    color: #5B5E6F;
    font-size: .7em;
    text-align: left;
}

body .testtwo {
    left: -320px !important;
}

body .test {
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    pointer-events: none;
    top: -100px !important;
    -webkit-transform: rotateX(70deg) scale(0.8) !important;
    transform: rotateX(70deg) scale(0.8) !important;
    opacity: .6 !important;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

body .login {
    opacity: 1;
    top: 20px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
    transition-property: opacity,box-shadow,top,left,-webkit-transform;
    transition-property: transform,opacity,box-shadow,top,left;
    transition-property: transform,opacity,box-shadow,top,left,-webkit-transform;
    transition-duration: .5s;
    -webkit-transform-origin: 161px 100%;
    transform-origin: 161px 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: relative;
    width: 22em;
    border-top: 2px solid #fca959 ;
    height: 35em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    padding: 20px 40px 40px 40px;
    background: #74bce6;
    background: linear-gradient(45deg, #74bce6 0%, #2590cf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bce6', endColorstr='#2590cf',GradientType=1 );
    box-shadow: -10px 0px 10px 1px #6b6b6b;
    border-radius: 20px;

}

.login h3 {
    color: #f9ed99 ;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: .31em;
}

.QuizbotHeader p {
    font-size: 1em;
    margin-bottom: 3em;
    color: #3b3d43;
}

body .login .disclaimer {
    position: absolute;
    bottom: 20px;
    left: 35px;
    width: 250px;
}

body .login_title {
    color: #f9ed99 ;
    height: 60px;
    text-align: left;
    font-size: 24px;
}

body .login_fields {
    height: 208px;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 20px;
}

body .login_fields .icon {
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 15px;
    opacity: .5;
}

body .login_fields input[type='text'], body .login_fields input[type='password'] {
    color: #3b3d43;
    width: 100%;
    margin-top: -2px;
    background: #f9ed99 ;
    left: 0;
    padding: 10px 65px;
    border-top: 2px solid #fca959;
    border-bottom: 2px solid #fca959;
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Gudea', sans-serif;
    box-shadow: none;
    height: 3em;
}

body .login_fields__user, body .login_fields__password {
    position: relative;
}

body .login_fields__submit {
    position: relative;
    top: 35px;
    left: 0;
    width: 80%;
    right: 0;
    margin: auto;
    margin-top: 30px;
}

body .login_fields__submit .signUp {
    float: right;
    font-size: 10px;;
    margin-top: 11px;
}

body .login_fields__submit .signUp a {
    color: #f9ed99 ;
    font-size: 1.3em;
    text-decoration: underline;
}

body .login_fields__submit .signUp p {
    font-size: 1.3em;
    color: #3b3d43;
}

body .login_fields__submit input {
    border-radius: 50px;
    background: transparent;
    padding: 10px 30px;
    border: 3px solid #fca959 ;
    color: #3b3d43 ;
    text-transform: uppercase;
    font-size: 11px;
    transition-property: background,color;
    transition-duration: .2s;
    font-weight: 700;
}

body .login_fields__submit input:focus {
    box-shadow: none;
    outline: none;
}

body .login_fields__submit input:hover {
    color: #3b3d43;
    background: #f9ed99   ;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
    font-weight: 900;
}

.feedback h2 {
    margin-bottom: 1em;
}

.questionMarks {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.questionMarks_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .questionMarks_video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .questionMarks_video {
        width: auto;
        height: 100%;
    }
}

.error {
    color: #3b3d43;
}
