html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
/* background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.card{
    color: white;
    text-align: center;
    height: 100%;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.5) !important;
}

.btn{
    width: 100%;
    margin-bottom: 10px;
    color: white;
    padding: 20px;
}

