body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.open-button,
.close-button {
    padding: 10px;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    font-size: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: none;
}


.icon {
    margin-right: 15px;
    size: 7rem;
}

.send-button {
    padding: 11px 12px;
    float:left;
    border-radius: 10px;
    margin-top: 10px;
}

.chat {
    display: none;
    position: fixed;
    bottom: 78px;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    width: 400px;
    max-width: 600px;
    padding: 10px;
    background-color: white;
}


textarea {
    width: 75%;
    padding: 10px;
    margin: 10px 10px  5px 10px;
    border-radius: 10px;
    border: 1px solid;
    background: #f1f1f1;
    resize: none;
    height: 50px;
    float: left;
}

.chat textarea:focus {
    background-color: #ddd;
    outline: none;
}

h3 {
    color: white;
}




.message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
}

.message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online .offline{
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.text {
    margin: 0 35px;
    background-color: #5BC0DE;
    padding: 15px;
    border-radius: 12px;
    flex-wrap: wrap;
}

.time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:10px;
    margin-left: 85px;
}

#dialog-box {
    max-height: 400px;
    overflow: scroll;
}

/*#delete-history-btn {*/
    /*float:right;*/
    /*border-radius: 10px;*/
/*}*/


