body{
    background: coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
 background-color: rgba(255,255,255,0.5);
}

.nav-link{
    color:black;
}

.navbar-brand{
    color:black;
}

#category-highscore, #current-score{
    font-weight: bold;
}

#indicator{
    display: flex; 
    justify-content: center;
    color:chartreuse;    
} 

.jumbotron{
    
    font-size:larger;
    text-align: center;
    border: solid 3px crimson;
}

#buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answer-btn{
    border: solid 3px crimson;
    display:block;
    width:100%;
    margin: 10px 0;
    height: 70px;
   
}

.answer-btn:focus, .category-btn:focus{
    outline: none;   
}

.answer-btn:hover, .category-btn:hover{
    background: chocolate;  
}

#wheel{
    display: none;
}

#question{
    display:none;
}

#categories{  
     
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

.category-btn{
    margin: 15px auto;
    border: solid 3px crimson;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.5);

}

#loader, .test{
    display: none;
    text-align: center;
    margin: 100px auto;
  }
  